<section class="about-snippet">
    <h2>About Me</h2>
<div class="about-container">
    <img src="\assets\general-assets\IMG_3590.webp" alt="Ben The Web Developer" class="about-img">
    <div class="about-text">
        <p>It all began with my converting old laptops to linux (nearly breaking them in the process!)</p>
        <p> Then I built a tribute page to Windows Phone.</p>
        <p>Now I'm a Student Web developer ready to help you with your next Freelance project</p>
    </div>
</div>
</section>