<!DOCTYPE html>
<html lang="en">
  {%- set pageTitle %}{% if title %}{{
    title
  }}
  | {% endif %}{{
    meta.siteName
  }}{% endset -%} {%- set pageDescription %}{% if description %}{{
    description
  }}{% else %}{{
    meta.siteDescription
  }}{% endif %}{% endset -%} {%- set pageSocialImg %}{{
    meta.url
  }}/previews/{% if title %}{{
    title | slug
  }}{% else %}home{% endif %}.png{% endset -%}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ADD SEO VIA FRONT MATTER -->
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}" />
    <meta name="twitter:card" content="summary_large_image" />
    {% if meta.twitterUsername %}
    <meta name="twitter:creator" content="@{{ meta.twitterUsername }}" />
    {% endif %}
    <meta name="twitter:title" content="{{ pageTitle }}" />
    <meta name="twitter:description" content="{{ pageDescription }}" />

    <meta name="og:title" content="{{ pageTitle }}" />
    <meta name="og:description" content="{{ pageDescription }}" />
    <meta property="og:image" content="{{ pageSocialImg }}" />
    <meta name="twitter:image" content="{{ pageSocialImg }}" />
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon//favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon//favicon-16x16.png"
    />
    <link rel="manifest" href="assets/favicon/site.webmanifest" />
    <link
      rel="preload"
      href="/fonts/opensans-italic-variablefont_wdthwght-webfont.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/opensans-variablefont_wdthwght-webfont.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/poppins-bolditalic-webfont.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/poppins-bold-webfont.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/poppins-italic-webfont.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/poppins-regular-webfont.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/opensans-italic-variablefont_wdthwght-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/opensans-variablefont_wdthwght-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/poppins-bolditalic-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/poppins-bold-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/poppins-regular-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <style>
      @font-face {
        font-family: "open_sans";
        src: url("/fonts/opensans-italic-variablefont_wdthwght-webfont.woff2")
            format("woff2"),
          url("/fonts/opensans-italic-variablefont_wdthwght-webfont.woff")
            format("woff");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "open_sans";
        src: url("/fonts/opensans-variablefont_wdthwght-webfont.woff2")
            format("woff2"),
          url("/fonts/opensans-variablefont_wdthwght-webfont.woff")
            format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "poppins";
        src: url("/fonts/poppins-bold-webfont.woff2") format("woff2"),
          url("/fonts/poppins-bold-webfont.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "poppins";
        src: url("/fonts/poppins-bolditalic-webfont.woff2") format("woff2"),
          url("/fonts/poppins-bolditalic-webfont.woff") format("woff");
        font-weight: bold;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "poppins";
        src: url("/fonts/poppins-regular-webfont.woff2") format("woff2"),
          url("/fonts/poppins-regular-webfont.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>

  {% include "nav.njk" %}

  <body>
    <main>
      {{ content | safe }}
    </main>

    {% include "contact-form.njk" %}

    <footer class="footer">
      <div class="credit">
        Icons made by
        <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"
          >www.flaticon.com</a
        >
      </div>
      <div class="footer__items">
        <p>©{% year %} Benjamin Lebron</p>
        <p>Find me on:</p>

        <div class="footer-icon-container">
          <div class="footer__icon-list">
            <a
              class="footer__icon-list_icon"
              href="https://github.com/BenTechCoder"
              rel="noopener"
              target="_blank"
            >
              <img src="assets/icons/github.svg" alt="Github link" />
            </a>
            <a
              class="footer__icon-list_icon"
              href="https://www.youtube.com/bentechcode"
              rel="noopener"
              target="_blank"
            >
              <img src="assets/icons/youtube.svg" alt="Github link"
            /></a>
          </div>
        </div>
      </div>
    </footer>
    <script defer>
      const navToggle = document.querySelector(".nav-container__mobile_toggle");
      const nav = document.querySelector(".nav");
      navToggle.addEventListener("click", function () {
        const isVisible = nav.getAttribute("data-visible");
        if (isVisible === "false") {
          nav.setAttribute("data-visible", true);
          navToggle.setAttribute("aria-expanded", true);
        } else if (isVisible === "true") {
          nav.setAttribute("data-visible", false);
          navToggle.setAttribute("aria-expanded", false);
        }
      });
    </script>
  </body>
</html>
