<form
  class="contact-form wrapper region switcher"
  id="contact"
  action="https://formsubmit.co/benjaminnlebron@gmail.com"
  method="POST"
>
  <div class="contact-form__form-head">
    <h3>Want to work with me?</h3>
    <p>Use the contact form to share your ideas</p>
    <img
      src="assets\general-assets\drawkit-grape-pack-illustration-4.svg"
      alt="Two people discussing ideas"
    />
  </div>
  <div class="contact-form__form-group flow">
    <input type="text" name="_honey" style="display: none" />
    <label for="name">Name</label>

    <input type="text" name="name" id="name" placeholder="Your Name" required />
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Email Address" />
    <label for="textarea">Your Message</label>
    <textarea
      name="message"
      id="textarea"
      cols="30"
      rows="10"
      placeholder="Write Here"
    ></textarea>
    <button class="submit-btn" type="submit">Submit</button>
  </div>
</form>
