<header>
  
  <nav class="nav">
      <ul class="nav-bar" role="list">
        <li class="nav-items"><a href="./">Home</a></li>
        <li class="nav-items"><a href="#projects">Projects</a></li>
        <li class="nav-items"><a href="#about">About</a></li>
        <li class="nav-items"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
</header>