<header class="header-nav">
<div class="mobile-flex">
   <div class="nav-logo">
        <img
          src="\assets\general-assets\LogoWithText.svg"
          alt="Benjamin Lebron Logo"
        />
      </div>
    
      <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false" aria-labelledby="menu">
        <span style="display: none;" id="menu">Menu</span>
      </button>
</div>
 
  <nav class="nav" data-visible="false">
    <ul class="nav-bar" role="list">
      <li class="nav-items"><a href="./"><span aria-hidden="true">Home</span></a></li>
      <li class="nav-items"><a href="#projects"><span aria-hidden="true">Projects</span></a></li>
      <li class="nav-items"><a href="#about"><span aria-hidden="true">About</span></a></li>
      <li class="nav-items"><a href="#contact"><span aria-hidden="true">Contact</span></a></li>
    </ul>
  </nav>
</header>
