
  <nav class="nav" data-visible="false">
    <ul class="nav-bar" role="list">
      <li class="nav__bar_items">
        <a href="./"><span aria-hidden="true">Home</span></a>
      </li>
      <li class="nav__bar_items">
        <a href="#projects"><span aria-hidden="true">Projects</span></a>
      </li>
      <li class="nav__bar_items">
        <a href="#about"><span aria-hidden="true">About</span></a>
      </li>
      <li class="nav__bar_items">
        <a href="#contact"><span aria-hidden="true">Contact</span></a>
      </li>
    </ul>
  </nav>
</div>
