<div class="nav-container">
  <div class="nav-container__mobile">
    <div class="nav-container__mobile_logo">
      <img
        src="\assets\general-assets\LogoWithText.svg"
        alt="Benjamin Lebron Logo"
      />
    </div>

    <button
      class="nav-container__mobile_toggle"
      aria-controls="primary-navigation"
      aria-expanded="false"
      aria-labelledby="menu"
    >
      <span style="display: none" id="menu">Menu</span>
    </button>
  </div>

  <nav class="nav" data-visible="false">
    <ul class="nav__bar" role="list">
      <li class="nav__bar_items">
        <a href="./"><span aria-hidden="true">Home</span></a>
      </li>
      <li class="nav__bar_items">
        <a href="#projects"><span aria-hidden="true">Projects</span></a>
      </li>
      <li class="nav__bar_items">
        <a href="#about"><span aria-hidden="true">About</span></a>
      </li>
      <li class="nav__bar_items">
        <a href="#contact"><span aria-hidden="true">Contact</span></a>
      </li>
    </ul>
  </nav>
</div>
