<div class="portfolio-item">
    <div class="img-cover">
   <img src="{{ portfolio.data.image }}" alt="{{ portfolio-item.data.img-caption }}">
    </div>
     <p>{{ portfolio-item.data.description }}</p>
   <div class="btns-area">
     <a href="{{ portfolio-item.data.source }}" class="portfolio-btns">Source</a>
     <a href="{{ portfolio-item.data.demo }}" class="portfolio-btns">Demo</a>
   </div>
     </div>