<div class="portfolioItem">
    <div class="img-cover">
   <img src="{{ portfolioitem.data.image }}" alt="{{ portfolioitem.data.img-caption }}">
    </div>
     <p>{{ portfolioitem.data.description }}</p>
   <div class="btns-area">
     <a href="{{ portfolioitem.data.source }}" class="portfolio-btns">Source</a>
     <a href="{{ portfolioitem.data.demo }}" class="portfolio-btns">Demo</a>
   </div>
     </div>