@use "global" as *;




 .about-snippet__container {

  --switcher-space: var(--space-s);
  --switcher-switch: 60rem;

    margin-top: 1.5rem;
    display: flex;
    align-items: center;

    img{
      border-radius: 1rem;
    }

p {
  max-width: 40ch;
}
}
