@use "global" as *;

.submit-btn {
    padding: 1rem;
    background-color: $btn-1;
    color: $btn-text-1;
  }

  .btn--portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  
    img {
      margin: 1rem auto;
      width: 90%;
    }
  
    a {
      text-decoration: none;
    }
    a:hover,
    a:focus {
      color: $primary-1;
      animation-name: grow;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      // padding: 0.5rem;
      border-radius: 1rem;
      background-color: $btn-1;
    }
  }