@use "global" as *;

.footer {
  background-image: url("/assets/general-assets/Colored-Shapes.svg");
  background-size: contain;
  background-repeat: space no-repeat;
  padding: 1rem;
  margin-top: auto;
  background-color: $primary-2;
  max-width: 100%;
  font-weight: 700;
}

.footer__items {
  text-align: center;
}

.footer__icon-list {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer__icon-list_icon {
  transition: transform 0.3s ease-out;
}
.footer__icon-list_icon:hover {
  transform: translateY(8px);
}

@media (hover: hover) and (pointer: fine) {
  .footer__icon-list_icon:hover {
    transform: translateY(8px);
  }
}
