@use "global" as *;

.contact-form {
  --switcher-space: var(--space-l);
  label {
    color: $header;
  }
  input {
    padding: var(--space-xs);
  }
  ::placeholder {
    color: $header;
  }

  textarea {
    margin-bottom: 1rem;
  }
}


.contact-form__form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width:866px) {
  .contact-form {
    img {
      display: none;
    }
  }
}
