


$primary-1: #fffffe;
$header: #094067;
$text: #5f6c7b;
$link-1: #ef4565;
$link-2:#3da9fc;
$btn-1: #3da9fc;
$btn-text-1: #fffffe;
$btn-2: #ef4565;
$btn-text-2: #fffffe;
$primary-2: #d8eefe;


$tdbc-h1-font-size: 4.2rem !default;
$tdbc-h2-font-size: 3.15rem !default;
$tdbc-h3-font-size: 2rem !default;
$tdbc-h4-font-size: 1.35rem !default;
$tdbc-text-font-size: 1.15rem !default;
$tdbc-lead-font-size: 1.35rem !default;
