@use "global" as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text;
  background-image: url("/assets/general-assets/Animated-Shape.svg");
  background-size: cover;
  background-color: $secondary;
  padding-bottom: 3rem;
}

.hero__img {
  width: 40%;
}

.hero__text {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.hero__text--em {
  color: $link-1;
}

@media (max-width: 500px) {
  .hero__img {
    width: 80%;
  }
}
