@use "global" as *;

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text;
  background-image: url("/assets/general-assets/Animated-Shape.svg");
  background-size: cover;
  background-color: $primary-2;
}

.hero-img {
  width: 40%;
}
@media (max-width: 500px) {
  .hero-img {
    width: 80%;
  }
}

