@use "global" as *;

.nav {
 padding: 1rem;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.nav__bar_items {
  margin: 0.5rem;
}

