@import "global";

.about-snippet {
  // ADD WICKED NEUMORPHIX BOX SHADOW
  text-align: center;
  margin: 0 auto;
  max-width: 2000px;
  width: 85%;
  padding: 1rem;
  border-radius: 1rem;

  h2 {
    font-size: clamp(2rem, 3vw, 4rem);
  }
}

.about-container {
  p {
    margin-bottom: 0.5rem;
    font-size: clamp(1.5rem, 2vw, 3rem);
  }

  img {
    margin: 0 auto;
    width: 90%;
  }
  @media (min-width: 700px) {
    img {
      margin: 0;
      width: 50%;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
