
@font-face {
    font-family: 'nuni_italic';
    src: url('/fonts/nunito-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('/fonts/nunito-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nuni';
    src: url('/fonts/nunito-variablefont_wght-webfont.woff2') format('woff2'),
         url('/fonts/nunito-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('/fonts/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('/fonts/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans';
    src: url('/fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('/fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}