@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;1,700&family=Yellowtail&display=swap');
$Roboto: 'Roboto', monospace;
$Yellowtail: 'Yellowtail', sans-serif;

$primary-1: #ccd5aeff;
$accent-1: #e9edc9ff;
$accent-2: #fefae0ff;
$accent-3: #faedcdff;
$primary-2: #d4a373ff;
