

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;1,400;1,700&family=Rock+Salt&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap');
$header-font: 'Rubik', sans-serif;
$body-font: 'karla', arial;
$Yellowtail: 'Yellowtail', cursive;

$primary-1: #fffffe;
$header: #094067;
$text: #5f6c7b;
$link-1: #ef4565;
$link-2:#3da9fc;
$btn-1: #3da9fc;
$btn-text-1: #fffffe;
$btn-2: #ef4565;
$btn-text-2: #fffffe;
$primary-2: #d8eefe;
$font-size-small: clamp(1rem, 1.3rem, 1.7rem);

p {
    color: $text;
}

h1,
h2,
h3,
h4,
h5{
    color: $header;
}









// @font-face {
//     font-family: "body";
//     src: url("\assets\fonts\Atkinson-Hyperlegible-Regular-102.woff") format('woff');
// }

// @font-face {
//     font-family: "body";
//     src: url("assets\fonts\Atkinson-Hyperlegible-Bold-102.woff") format('woff');
//     font-weight: bold;
// }

// @font-face {
//     font-family: "body";
//     src: url("assets\fonts\Atkinson-Hyperlegible-Bolditalic-102.woff") format('woff');
//     font-weight: bold;
//     font-style: italic;
// }

// @font-face {
//     font-family: "body";
//     src: url("assets\fonts\Atkinson-Hyperlegible-Italic-102.woff") format('woff');
//     font-style: italic;
// }

// @font-face {
//     font-family: 'webfontregular';
//     src: url('assets/fonts/atkinson-hyperlegible-italic-102-webfont.woff2') format('woff2'),
//          url('assets/fonts/atkinson-hyperlegible-italic-102-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }




// @font-face {
//     font-family: 'webfontregular';
//     src: url('assets/fonts/atkinson-hyperlegible-bolditalic-102-webfont.woff2') format('woff2'),
//          url('assets/fonts/atkinson-hyperlegible-bolditalic-102-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }



// @font-face {
//     font-family: 'webfontregular';
//     src: url('assets/fonts/atkinson-hyperlegible-regular-102-webfont.woff2') format('woff2'),
//          url('assets/fonts/atkinson-hyperlegible-regular-102-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }