.nav {
    background-color: #FAEDCD;
  padding: 0.3rem;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 1;
   flex-wrap: wrap;
   gap: 10%;
    
}

.nav-items a {
    color: #D4A373;
}

.nav-items a:hover {
    color: black;
}