@import "global";
.nav {
  background-image: url("/assets/general-assets/Colored-Shapes.svg");
  background-size:contain;
  background-repeat: space no-repeat;
  background-color: $primary-1;
  padding: 0.3rem;


}

.nav-bar {
  width: 100%;
  display: flex;
flex-direction: column;
  justify-content: center;
align-items: center;
  

}

.nav-items a {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: $font-size-small;
  color: $text;
}

.nav-items a:hover, a:focus {
  color: $link-2;
}

