@import "global";
.nav {
  background-image: url("/assets/general-assets/Colored-Shapes.svg");
  background-size:contain;
  background-repeat: space no-repeat;
  background-color: $primary-1;
  padding: 0.3rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 10%;

}

.nav-items a {
  font-weight: 700;
  color: $text;
}

.nav-items a:hover, a:focus {
  color: $link-2;
}

