
@use "global";
@use "reset";
@use "header";
@use "hero";
@use "footer";
@use "portfolio";
@use "about";
@use "form";
@use "typography";


body {
color: #5f6c7b;
  background-color: primary-1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

/* Optional */


.credit {
  display: none;
}

