@use "global";
@use "reset";
@use "nav";
@use "hero";
@use "footer";
@use "portfolio";
@use "about";
@use "form";
@use "typography";
@use "button";
@use "utility";

body {
  line-height: 1.5;
  word-wrap: break-word;
  font-size: var(--step-0);
  background-color: primary-1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Optional */

.credit {
  display: none;
}

