
/* TODO: 
1. add font sizes for h3, h4, h5, h6
2. add fon sizes for button
*/
@use "global" as *;



$header-font: 'poppins', sans-serif;
$body-font: 'open_sans', arial;



//clamp(2rem, 3vw, 5rem)
h1 {
    font-size: clamp(3rem, 4vw, 6rem);
}
h2 {
   
    font-size: clamp(2.5rem, 2.5vw, 4.5rem);
 }

 h3 {
font-size: 2rem;
 }
 h4 {
   font-size: 1.35rem;
 }

a {
    font-family: $body-font;
    font-size:clamp(1rem, 1.3rem, 2rem);
    font-weight: 700;
    color: $text;
}
p {

    font-family: $body-font;
  font-size:clamp(1rem, 1.3rem, 2rem);

}

li {
  font-family: $body-font;
  font-size:clamp(1rem, 1.3rem, 2rem);

}

form {
  font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: bold;
  font-family: $header-font;
  color: $header;
 
}


.hero-text{
font-style: italic;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

em strong {
  font-weight: bold;
  font-style: italic;
}

.hero-em {
  font-size: clamp(2.5rem, 3.1vw, 5rem);
  color: $link-1;

}