
// TODO: use fonts in fonts folder and set up general typography

@use "global" as *;
h2 {
    font-size: clamp(2rem, 3vw, 4rem);
  }

  button {

}
h1,h2,h3,h4,h5 {
  font-family: $header-font;
}

#hero-span {
    font-size: clamp(3rem, 4vw, 6rem);
    color: $link-1;
    font-family: $Yellowtail;
  }