---
layout: base.njk
title: Benjamin Lebron Web Development
---

<section class="hero-section">
  <div class="hero-img">
    <img src="assets/general-assets/LogoNoText.png" alt="Hair With Glasses" />
  </div>
  <div class="hero__text">
    <h2>Hello There 👋 I'm <span id="hero-span">Ben</span></h2>
<h3>Your Friendly Neighborhood Web Dev</h3> 
</div>
</section>
